:root {
    --fonte-texto:  'Inter', sans-serif;
    --cor-texto: #667085;
    --cor-h1: #3A404E;
    --cor-vermelho: solid #8E2424;
   }

header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 18px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 112px;
}

h1 {
    color: var(--text-color);
    font-family: var(--fonte-texto);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
    color: var(--cor-h1);
}

.menu {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-texto);
    cursor: pointer;
    margin-top: 15px;
    color: var(--cor-texto);
}

.cabecalho__link {
    margin-left: 32px;
}

.sobre {
    margin-right: 150px;
}

.container_button {
    display: flex;
    font-family: var(--fonte-texto);
}

.container_button :hover {
    cursor: pointer;
}

.button_entrar {
    border: none;
    background-color: transparent;
    margin-right: 5px;
    color: var(--cor-texto);
    border: none;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 112px;
    height: 44px;
}

.button_cadastrar {
    background-color: #8E2424;
    margin-right: 112px;
    color: #FFFFFF;
    border: none;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 112px;
    height: 44px;
}

.button_cadastrar :active{
    width: 100px;
    height: 40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;
    width: 1440px;
    height: 407px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


span {
    font-family: 'Inter';
    font-style: normal;
    color: #8E2424;
    order: 0;
    margin-top: 96;
    margin-bottom: 287;
    justify-content: center;
}

.porque {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #101828;
    order: 0;
}

p {
    width: 791px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    flex: none;
    order: 0;
    flex-grow: 0;
}